@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* reset-css */
*{
    box-sizing: border-box;
}

:root{
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%); 
    --GrayishBlue: hsl(246, 25%, 77%);
}
/* global classes */
.mb2{
 margin-bottom: 20px;
}

body{
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   background: url(/images/bg-intro-desktop.png) var(--Red);
   color: #ffffff;
}
h1{
    font-weight: 700;
    font-size: 2.3em;
    line-height: 1.1em;
}
main{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    max-width: 945px;
    margin: 0px auto;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    
}
.left-container, .right-container{
    flex: 0.5;
}
.left-container{
    align-self: center;
    margin-right: 20px;
}
.left-container p{
    font-size: 14px;
    color: hsl(249, 26%, 95%);
}
.right-container{
    margin-left: 20px;
}
.blueBox{
    background-color: var(--Blue);
    border-radius: 5px;
    text-align: center;
    padding: 1px 0;
    font-size: 14px;
    margin-bottom: 20px;
    box-shadow: 0 4px ()
}
.grayishBlue{
    color: var(--GrayishBlue);
}
form{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}
input{
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-weight: 600;
    border: 1px solid hsl(247, 37%, 91%);
    font-size: 12px;
    color: var(--DarkBlue);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
button{
    background-color: var(--Green);
    color: hsl(249, 26%, 95%);
    width: 100%;
    border: none;
    letter-spacing:2px;
    padding: 15px 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif 14px;
    margin-bottom: 10px;
    box-shadow: 0px 4px hsl(154, 64%, 44%);
}
small{
    color: var(--GrayishBlue);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
.red{
    color: var(--Red);
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    background-color: hsl(154, 76%, 64%);
}
a{
    color: var(--Red);
    text-decoration: none;
    cursor: pointer;
}
.errTxt{
    float: right;
    display: none;
    font-style: italic;
    color: var(--Red);
    margin-bottom: 15px;
    margin-top: 5px;
}
input:focus{
    border-color: var(--Blue);
    outline: none;
}
.error{
    border-color: var(--Red);
}

input.error::placeholder{
   background-image: url(/images/icon-error.svg);
   background-repeat: no-repeat;
   background-position: right 0%;
   padding: 3px;
   color: #fff;
}
button:focus{
    outline: none;
}
input.txtClr::placeholder{
    color: var(--Red);
}
.mb2 label{
    display: none;
}
/* media query*/
@media (max-width: 755px){
   
    main{
        flex-direction: column;
        
    }
    .left-container,.right-container{
        flex: 1;
    }
    .right-container{
        margin-left: 0;
    }
    .left-container{
        margin-right: 0;
        text-align: center;
    }
    .blueBox{
        padding: 12px 70px;
    }
    
}
@media (max-width: 455px){
    h1{
        font-size: 1.8em;
    }
    .left-container{
        text-align: center;
    }
}
@media (max-width: 355px){
    body{
        background-image: url(/images/bg-intro-mobile.png);
    }
}